#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp KP_N2
                &kp KP_N3
                &kp KP_N4
                &kp KP_N5
                &kp KP_N6
                &kp KP_N7
                &kp KP_N8
                &mo 1
            >;
        };
        second_layer {
            bindings = <
                &kp A
                &kp B
                &kp C
                &kp D
                &kp E
                &kp F
                &kp G
                &kp H
            >;
        };
    };
};